@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
  }
  
  .main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    overflow-y: hidden;
  }
  
  .loginSection {
    height: 100%;
    width: 33%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .rightSide {
    width: 67%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  
  .triangle {
    position: absolute;
    top: 0;
    right: calc(20vw - 1px);
    width: 0;
    height: 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background: linear-gradient(to bottom, #d33838, #540f0f);
    height: 100vh;
    width: 50%;
  }
  .square {
    height: 100vh;
    width: 20vw;
    background: linear-gradient(to bottom, #d33838, #540f0f);
  }
  .title{
    color: white;
    font-size:70px;
    text-align: left;
    margin-left:40px;
    font-weight: 600;
  }
  .highlightTitle{
    color:#d33838
  }
  .button{
    background-color: #2C2C2C;
    border : solid #d33838 3px;
    border-radius: 10px;
    width:200px;
    height:50px;
    color:white;
    font-size:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10vh;
  }
  .text{
    color:#1a1a1a;
    font-weight:500;
    font-size:80px;
    margin-top:20vh;
    width: 100%;
    text-align: left;
  }
  .logo{
    position: absolute;
    right:calc(10vw + 70px);
    filter:contrast(80%);
  }