@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
  }
  
  .landingMain {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    overflow-y: hidden;
  }
  
  .loginSection {
    height: 100%;
    width: 33%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .rightSide {
    width: 67%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .triangle {
    position: absolute;
    top: 0;
    right: calc(20vw - 1px);
    width: 0;
    height: 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background: linear-gradient(to bottom, #d33838, #540f0f);
    height: 100vh;
    width: 50%;
  }
  .square {
    height: 100vh;
    width: 20vw;
    background: linear-gradient(to bottom, #d33838, #540f0f);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .title{
    color: white;
    font-size:calc(3vw + 30px);
    text-align: left;
    margin-left:40px;
    font-weight: 600;
  }
  .highlightTitle{
    color:#d33838
  }
  .button {
    cursor: pointer;
    background-color: #2C2C2C;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: outline 0.1s ease-in-out, outline-offset 0.1s ease-in-out;
    outline: solid transparent 3px;
    margin-top:50px;
  }
  
  .button:hover {
    outline: solid #d33838 3px;
    outline-offset: 3px;
  } 
  .text{
    color:#1a1a1a;
    position: absolute;
    top: 20vh;
    font-weight:500;
    font-size:calc(3vw + 30px);
    text-indent:-10vw;
  }
  .logo{
    position: absolute;
    width:25vw;
    margin-top:50px;
    right:calc(70px);
    filter:contrast(80%);
  }
  .notification{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:300px;
    height:200px;
    outline: solid #d33838 3px;
    border-radius: 10px;
    z-index: 2;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:25px;
    padding:10px;
  }
  .closeNotification{
    position: absolute;
    top:5px;
    right:5px;
    height:30px;
    width:30px;
    background-color: #d33838;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay{
    background-color:rgba(0, 0, 0, 0.349);
    width:100vw;
    height:100vh;
    position: absolute;
    z-index:1;
  }
  .none{
    display:none;
  }
  /*apply */
  .applyMain{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    overflow-y: scroll;
  }
  .applyContainer{
    width:80vw;
    min-width:320px;
    height:85vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .applySection{
    background-color:#101010;
    overflow-y: auto;
    width:45%;
    min-width: 300px;
    height:750px;
    border-radius:10px;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .secondBox{
  }
  .appendButton{
    height:40px;
    width:40px;
    border-radius: 50px;
    background-color: #d33838;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:35px;
    position:absolute;
    top:5px;
    right:15px;
    cursor: pointer;
  }
  .removeButton{
    height:40px;
    width:40px;
    border-radius: 50px;
    background-color: #d33838;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:35px;
    position:absolute;
    top:5px;
    left:15px;
    cursor: pointer;
  }
  .sectionTitle{
    font-size:35px;
    text-align: center;
    width:100%;
    color:white;
  }
  .inputContainer{
    width:90%;
    height:60px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top:20px;
  }

  .input{
    width:90%;
    height:60px;
    border:none;
    outline: solid #d33838 3px;
    border-radius: 10px;
    background-color: transparent;
    color:white;
    text-indent:20px;
    font-size:25px;
  }
  .inputLabel{
    color:white;
    position: absolute;
    padding-left:12px;
    padding-right:12px;
    left:50px;
    top:-15px;
    background-color: #101010;
  }
  .experienceInputs{
    display: flex;
    margin-top: 20px;
    padding-bottom:10px;
    height: 650px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
  /* applicants*/
  .applicantMain{
    width:100vw;
    height:100vh;
    overflow-y: scroll;
    background-color: #1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .table {
    height: 80vh;
    width: 80vw;
    background-color: #101010;
    border-collapse: collapse;
  }
  .topRow {
    border: none;
    border-bottom: solid #d33838 3px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
  }
  .dataIndex {
    padding: 10px; 
  }
  .dataRow {
    background-color: #0b0b0b;
    border: solid black 2px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    height: 50px;
  }
  /* media */
  @media only screen and (max-width: 749px) {
    .applyMain{
      overflow-x:hidden;
    }
    .secondBox{
     margin-top: 50px;
   }
   .applyContainer{
    width: 65vw;
   }
 }
  @media only screen and (max-width: 600px) {
     .square{
      display: none;
    }
    .triangle{
      right:0;
    }
  }
  @media only screen and (max-width: 400px) { 
   .triangle{
     height: 27vh;
   }
   .title{
    width:290px;
    margin:0;
    text-align: center;
   }
 }