@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
  }
  
  .landingMain {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    overflow-y: hidden;
  }
  
  .loginSection {
    height: 100%;
    width: 33%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .rightSide {
    width: 67%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .triangle {
    position: absolute;
    top: 0;
    right: calc(20vw - 1px);
    width: 0;
    height: 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background: linear-gradient(to bottom, #d33838, #540f0f);
    height: 100vh;
    width: 50%;
  }
  .square {
    height: 100vh;
    width: 20vw;
    background: linear-gradient(to bottom, #d33838, #540f0f);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .title{
    color: white;
    font-size:calc(3vw + 30px);
    text-align: left;
    margin-left:40px;
    font-weight: 600;
  }
  .highlightTitle{
    color:#d33838
  }
  .button {
    cursor: pointer;
    background-color: #2C2C2C;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: outline 0.1s ease-in-out, outline-offset 0.1s ease-in-out;
    outline: solid transparent 3px;
    margin-top:50px;
    border:none;
  }
  .noResultsMessage{
    font-size:40px;
    color:white;
  }
  .button:hover {
    outline: solid #d33838 3px;
    outline-offset: 3px;
  } 
  .text{
    color:#1a1a1a;
    position: absolute;
    top: 20vh;
    font-weight:500;
    font-size:calc(3vw + 30px);
    text-indent:-10vw;
  }
  .logo{
    position: absolute;
    width:25vw;
    margin-top:50px;
    right:calc(70px);
    filter:contrast(80%);
  }
  .notification{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:300px;
    height:200px;
    outline: solid #d33838 3px;
    border-radius: 10px;
    z-index: 2;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:25px;
    padding:10px;
  }
  .closeNotification{
    position: absolute;
    top:5px;
    right:5px;
    height:30px;
    width:30px;
    background-color: #d33838;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay{
    background-color:rgba(0, 0, 0, 0.349);
    width:100vw;
    height:100vh;
    position: absolute;
    z-index:1;
  }
  .none{
    display:none;
  }
  /*apply */
  .applyMain{
    width:100vw;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .applyContainer{
    width:80vw;
    min-width:320px;
    height:85vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .applySection{
    background-color:#101010;
    overflow-y: auto;
    width:45%;
    min-width: 300px;
    height:750px;
    border-radius:10px;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .secondBox{
  }
  .appendButton{
    height:40px;
    width:40px;
    border-radius: 50px;
    background-color: #d33838;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:35px;
    position:absolute;
    top:5px;
    right:15px;
    cursor: pointer;
  }
  .removeButton{
    height:40px;
    width:40px;
    border-radius: 50px;
    background-color: #d33838;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:35px;
    position:absolute;
    top:5px;
    left:15px;
    cursor: pointer;
  }
  .sectionTitle{
    font-size:35px;
    text-align: center;
    width:80%;
    color:white;
  }
  .inputContainer{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:20px;
  }
  .applyError, .inputError{
    color:white;
    width: 80%;
    text-align: left;
  }
  .letterError{
    width:90%;
    color:white;
    text-align:left;
  }
  .marginNone{
    margin:0px;
  }
  .motivationLetter{
    resize:none;
    border:none;
    outline: solid #d33838 3px;
    background-color: transparent;
    color:white;
    font-size:20px;
    text-indent:10px;
    height:230px;
    width:90%;
  }
  .input{
    width:90%;
    height:60px;
    border:none;
    outline: solid #d33838 3px;
    border-radius: 10px;
    background-color: transparent;
    color:white;
    text-indent:20px;
    font-size:25px;
  }
  .inputLabel{
    color:white;
    position: absolute;
    padding-left:12px;
    padding-right:12px;
    left:50px;
    top:-15px;
    background-color: #101010;
  }
  .passwordButton{
    width: 80%;
    color: white;
    margin-top: 10px;
  }
  .checkbox{
    margin-right:10px;
  }
  .bg1a1a1a{
    background-color: #1a1a1a;
  }
  .margint65{
    margin-top:45px;
  }
  .margint100{
    margin-top:100px;
  }
  .experienceInputs{
    display: flex;
    margin-top: 20px;
    padding-bottom:10px;
    height: 300px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  /* applicants*/
  .applicantMain{
    width:100vw;
    height:100vh;
    overflow-y: auto;
    background-color: #1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .applicantContainer{
    width:80vw;
    min-width: 320px;
    height:580px;
    overflow-y: auto;
    background-color: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .containerTop{
    width:95%;
    height:10%;
    border-bottom: solid #d33838 3px;
    display: flex;
  }
  .usersTop{
    width:95%;
    height:10%;
    border-bottom: solid #d33838 3px;
    justify-content: space-between;
    display: flex;
  }
  .userJob{
    width: 30%;
    height: 100%;
    color: white;
    font-size: calc(1vmin + 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .userUsername{
    width:40%;
    height:100%;
    color:white;
    font-size:calc(1vmin + 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x:auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .applicantRow{
    width:95%;
    height:50px;
    background-color: #0B0B0B;
    border: solid black 3px;
    margin-top:10px;
    display:flex;
    justify-content: space-between;
    cursor:pointer;
  }
  .containerIndex{
    width:8%;
    height:100%;
    color:white;
    font-size:calc(1vmin + 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x:auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .containerName{
    width:38%;
    height:100%;
    color:white;
    font-size:calc(1vmin + 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x:auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .containerCity{
    width:18%;
    height:100%;
    color:white;
    font-size:calc(1vmin + 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x:auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .containerJob{
    width:28%;
    height:100%;
    color:white;
    font-size:calc(1vmin + 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x:auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .detailContainer{
    width: 90vw;
    min-width: 300px;
    min-height:600px;
    background-color: #101010;
    display:flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-top:20px;
  }
  .updateContainer{
    margin-top:30px;
    width: 45vw;
    min-width: 300px;
    min-height:600px;
    background-color: #101010;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    justify-content: space-evenly;
    outline:solid #d33838 2px;
    box-shadow: rgb(0 0 0 / 49%) 0px 5px 15px 10px;
  }
  .buttonContainer{
    height:120px;
    width:90%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .acceptUser{
    height:50px;
    width:200px;
    border:none;
    border-radius: 10px;
    background-color: #328200;
    color:white;
    font-size:25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .denyUser{
    height:50px;
    width:200px;
    border:none;
    border-radius: 10px;
    background-color: #820000;
    color:white;
    font-size:25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .experienceTitle{
    width:100%;
    text-align: center;
    color:white;
    font-size:30px;
    font-weight:600;
  }
  .experienceContainer{
    width:90%;
    max-height:100px;
    min-width:280px;
    min-height:50px;
    background-color: #d33838;
    color: #1a1a1a;
    font-size:25px;
    font-weight: 400;
    margin-top:10px;
    border-radius: 10px;
    padding:5px;
    overflow:auto;
  }
  .basicDataRow{
    font-size:30px;
    color:white;
    width:80%;
    margin-top:10px;
  }
  .basicDataRow2{
    font-size: 30px;
    color: white;
    width: 80%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .applicationLetter{
    width:90%;
    background-color: #1a1a1a;
    border-radius: 10px;
    height: -webkit-fill-available;
    color:white;
    text-indent: 10px;
    margin-bottom:10px;
    font-size:25px;
  }
  .left{
    height:80vh;
    width:50%;
    min-width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;

  }
  .right{
    height:80vh;
    width:50%;
    min-width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .BackButton{
    position: absolute;
    background-color: #d33838;
    border:none;
    outline: none;
    font-size:20px;
    padding: 10px;
    padding-bottom: 25px;
    padding-top:25px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }
  .LogoutButton{
    position: absolute;
    background-color: #d33838;
    border:none;
    outline: none;
    right:0px;
    font-size:20px;
    padding: 10px;
    padding-bottom: 25px;
    padding-top:25px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
  }
  /* media */
  @media only screen and (max-width: 950px) {
    .containerCity, .containerIndex, .containerJob, .containerName{
      justify-content: flex-start;
    }
 }
 @media only screen and (max-width: 800px) {
  .userJob, .userUsername{
    justify-content: flex-start;
  }
}
  @media only screen and (max-width: 749px) {
    .applyMain{
      overflow-x:hidden;
    }
    .secondBox{
     margin-top: 50px;
   }
   .applyContainer{
    width: 65vw;
   }
 }
  @media only screen and (max-width: 666px) {
    .detailContainer{
      margin-top:100px;
    }
     .square{
      display: none;
    }
    .triangle{
      right:0;
    }
    .left, .right{
      width:100%;
    }
    .acceptUser, .denyUser{
      width:90%;
    }
  }
  @media only screen and (max-width: 450px) { 
   .triangle{
     height: 27vh;
   }
   .title{
    width:290px;
    margin:0;
    text-align: center;
   }
 }